/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
[class*="perksContainer-"],
[class^="DocSearch"],
#app-mount div:not([class]) div[class=""] div:not([class]),
#app-mount div:not([class]) div[class=""] div div[class*="background-"],
#app-mount div:not([class]) div[class=""] div[class^="grid-"] div[class^="animation-"],
[class*="artwork-"],
div[class^="characterBackground-"] [class*="rightSplit-"],
div[class^="art-"],
div[class*="templatesList-"] button[class^="container-"] ~ *,
li[class^="messageListItem-"] [class*="cozyMessage-"] [class^="username-"],
div[class*="nameTag-"] [class^="username-"],
[class^="discrimBase-"],
div[class^="discordTag-"] [class^="username-"],
div[class^="nameTag-"],
[class^="usernameInnerRow-"],
[class^="marketing"],
[class*="tier"],
[class*="perks-"],
[class*="nitro"],
[class^="upsell"],
[class^="availabilityIndicator-"],
div[class^="serverBoostTabItem-"],
div[class*="hero"],
div[class*="premium"],
div[id*="premium"],
div[class*="goal"],
button[class^="shinyButton"],
[class*="giftButton"],
span[class^="questionMark-"],
div[class^="characterCount-"] div[class^="root-"],
[class^="clickableSticker-"],
nav[class^="privateChannels-"] div div *[data-list-item-id$="nitro"],
button[class*="followButton-"],
[class^="nowPlaying"],
[class^="applicationInstall"],
div[class^="threadSuggestionBar-"],
div[class^="welcomeCTA-"],
div[role="separator"]:not([id$="new-messages-bar"]),
[class^="botTagVerified-"],
[class^="bannerContainer-"],
[class*="banner-"],
div[class^="keybind-"],
[class*="socialLink-"],
div[class^="socialLinks-"],
[class^="membersGroup-"],
#gif-picker-tab,
#sticker-picker-tab,
#emoji-picker-tab-panel div[class^="emojiPicker-"] > div[class^="header-"],
nav[class^="nav-"],
[class^="searchBar-"],
div[class^="quickswitcher-"],
div[class^="toolbar-3_"] > :not([aria-label="Close"]),
div[class^="channelNotice-"],
h2[class^="privateChannelsHeaderContainer"],
div[class^="channelTextArea-"] div div > div[class^="buttons-"] > button,
div[class^="channelTextArea-"] div div > div[class^="buttons-"] > div.expression-picker-chat-input-button:not(:nth-child(4)),
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="divider-"],
div[class^="autocompleteShadow-"],
[class^="unreadPill-"],
div[class^="overviewSidebar-"],
section div[class^="children-"] div[class^="spacer-"],
div[class^="base-"] div[class^="children-"] div[class^="divider-"] ~ div:not([class^="tabBar-"]),
div[class^="base-"] div[class^="children-"] div[class^="divider-"],
div[class^="children-"]::after {
  all: unset    !important;
  display: none !important;
  width: 0    !important;
  height: 0    !important;
}
div[aria-label="Servers"] ~ div {
  position: absolute;
  bottom: 0;
  display: none;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
div[class^="scroller-"] div[class^="tutorialContainer-"] {
  display: unset;
  margin: 0;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
.dimmer-theme {
  --header-primary: #dedede;
  --header-secondary: #cacaca;
  --text-normal: #dcddde;
  --interactive-normal: #bebebe;
  --interactive-hover: #dedede;
  --background-primary: #3e3e3e;
  --background-secondary: #2e2e2e;
  --background-tertiary: #1e1e1e;
  color: var(--header-primary);
}
.dimmer-theme [class*="close-"] {
  color: var(--interactive-normal);
}
.dimmer-theme [class*="close-"]:hover {
  color: var(--interactive-hover);
}
div[class^="layer-"] div.theme-light,
div[class^="downloadApps-"] {
  --header-primary: #dedede;
  --header-secondary: #cacaca;
  --text-normal: #dcddde;
  --interactive-normal: #bebebe;
  --interactive-hover: #dedede;
  --background-primary: #3e3e3e;
  --background-secondary: #2e2e2e;
  --background-tertiary: #1e1e1e;
  color: var(--header-primary);
}
div[class^="layer-"] div.theme-light [class*="close-"],
div[class^="downloadApps-"] [class*="close-"] {
  color: var(--interactive-normal);
}
div[class^="layer-"] div.theme-light [class*="close-"]:hover,
div[class^="downloadApps-"] [class*="close-"]:hover {
  color: var(--interactive-hover);
}
div[class^="layer-"] div.theme-light div[class*="root-"],
div[class^="downloadApps-"] div[class*="root-"] {
  background-color: var(--background-secondary);
}
div[class^="layer-"] div.theme-light div[class*="footer-"],
div[class^="downloadApps-"] div[class*="footer-"] {
  background-color: var(--background-primary);
}
div[class^="downloadApps"] {
  background-color: var(--background-secondary) !important;
}
div[class^="downloadApps"] h3,
div[class^="downloadApps"] div[class*="footer-"] {
  color: var(--header-primary);
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
@media screen and (max-device-width: 800px) {
  /* FIXME: add close buttons to emoji panel */
  [class^="channel-"] {
    max-width: unset;
    margin: 0 8px;
  }
  [class^="layer-"] {
    padding: 0;
    margin: auto;
  }
  [class^="layer-"] > [class^="container-"],
  [class^="standardSidebarView-"] {
    overflow-x: scroll;
  }
  [class^="content-"] [class^="sidebar"] {
    width: calc(50% - 8px - 72px);
  }
  [class^="chat-"] {
    width: 100%;
  }
  [class^="tools"] {
    position: unset !important;
  }
  [class*="positionLayer-"],
  [class*="fullscreenOnMobile"] {
    overflow: auto;
    width: 100%;
    min-width: 100%;
  }
  [class^="positionLayer-"] {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  [class*="fullscreenOnMobile"] [class^="body"] {
    width: 100%;
    height: 100%;
  }
  [class^="side-"] > [class^="item-"] {
    margin-top: 4px !important;
    padding: 6px 10px !important;
  }
  [class^="side-"] > [class^="item-"],
  :not([class*="pill"]):not([class*="Pill"]) > [class*="item-"],
  :not([class*="pill"]):not([class*="Pill"]) > [role="tab"],
  [class^="member-"],
  #channels li,
  div[class^="tabBarItem-"] {
    margin-top: 8px;
    padding: 0 12px;
    font-size: 11pt;
  }
  [class^="base-"],
  [class^="contentRegion-"],
  div[class^="sidebarRegion-"] {
    width: 200%;
    min-width: 200%;
  }
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
div[class^="accountProfileCard-"] div[class^="userInfo-"] {
  justify-content: left;
  padding-top: 24px;
  height: 56px;
}
div[class^="accountProfileCard-"] div[class^="userInfo-"] button {
  margin-left: 32px;
  margin-top: -8px;
}
div[class^="accountProfileCard-"] div[class^="userInfo-"] div[class^="avatar-"] {
  top: 0;
  border-radius: 0 !important;
  border-bottom-right-radius: 50% !important;
}
div[class^="listItemContents-"] div[class^="userInfo"] {
  padding-top: 0;
}
div[class^="listItemContents-"] div[class^="userInfo"] div[class^="avatar-"] {
  top: 0;
}
div[class^="userPopout-"] div[class^="avatarWrapper"] {
  top: 8px;
}
div[class^="userPopout-"] div[class^="headerTop-"] {
  padding-top: 72px;
}
div[class^="profileBanner"] div[class*="avatar"]:not([class^="imageUploaderInner"]) {
  margin-left: -8px;
  margin-top: -8px;
}
div[class^="headerTop-"] div[class^="headerText"] {
  margin-left: 96px;
}
div[class^="avatarWrapper-"] {
  margin-right: auto;
}
header div[class^="nameTagWithCustomStatus-"],
header div[class^="nameTagNoCustomStatus-"] {
  margin-bottom: 48px;
  margin-left: 160px;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
aside[class^="membersWrap-"],
aside[class^="membersWrap-"] div[class^="members-"] {
  min-width: 48px;
  width: 0;
}
aside[class^="membersWrap-"] div[class^="content-"] {
  height: unset !important;
  flex-grow: 0;
}
aside[class^="membersWrap-"] div[class^="member-"] {
  padding: 0;
  margin-left: 0;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
div[class^="messagesWrapper-"] div {
  scrollbar-width: thin;
}
#emoji-picker-tab-panel:not([role="dialog"]) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#emoji-picker-tab-panel div[class^="wrapper-"] {
  top: 0;
  border-radius: 5px 0 0 5px;
}
div[class*="fullscreenOnMobile"] div[class^="flex"] * {
  overflow: hidden;
}
div[class*="templatesList-"] {
  height: 128px;
}
div[class^="toolsContainer-"] {
  position: fixed !important;
  right: 21px;
  padding: 0;
  margin-top: 60px;
  border-radius: 16px;
}
div[class^="toolsContainer-"] > div {
  position: unset !important;
}
div[class^="toolsContainer-"] > div div[class^="container"] > * {
  background-color: var(--background-nested-floating);
}
div[class^="contentContainer-"] div[class*="stickyHeader-"] {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
div[class^="tabBarItem-"],
div[class^="checkbox"],
button[class*="button"],
li[class^="channel-"],
[class^="avatar-"],
[role="dialog"],
div[class^="menu-"] [role="menuitem"],
div[class^="role-"],
div[class^="colorPicker"] div div[class^="saturation"] div,
#channels ul li div > div[class^="content-"],
div[class*="input"],
input[class^="inputDefault-"],
[class*="Text"],
[class*="text"] {
  border-radius: 8px !important;
}
[role="menu"] {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px) saturate(100%);
}
[class^="authBox"],
[role="menu"],
div[class*="popout"],
div[class*="Popout"],
div[class*="fullscreenOnMobile"],
div[class*="root"] div[class^="flex-"],
[class^="checkboxWrapper-"],
[class*="embed"],
div[class^="markup-"] pre code,
div[class^="item-"],
div[class^="group-"],
div[class*="card"],
div[class^="auditLog-"],
div[class^="auditLog-"] > div,
div[class^="connectedAccount"],
div[class^="profileBanner"],
div[class^="accountProfile"],
div[class^="autocomplete-"],
div[class^="pictureInPicture-"],
div[class^="select-"],
div[class^="messagesWrapper-"] div,
div[class^="container"] > div,
div[class^="chat-"] > div[class^="content-"] {
  border-radius: 16px !important;
}
div[class^="sidebar-"] {
  margin-right: 8px;
}
div[class^="radioBar-"] {
  border: none;
}
div[class^="auditLog"] div[class^="headerExpanded-"] {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div[class^="auditLog"] div[class^="changeDetails-"] {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
[class*="embed-"],
div[class^="messagesWrapper-"] div[class*="mentioned"] {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
section,
header,
div[class^="content-"]::before,
div[class^="tabBody-"]::before {
  box-shadow: unset !important;
}
section div[class^="children-"] {
  justify-content: center;
}
div[class^="side-"] div[role="tab"],
div[class^="tabBarItem-"] {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: 0;
  margin-top: 8px;
  margin-right: 16px;
  padding: 4px 8px;
}
div[class^="tabBar-"] {
  height: 40px;
}
[role="tab"][class*="selected-"],
[role="tab"]:hover {
  background-color: var(--background-modifier-hover);
}
div[class^="attachedBars-"],
div[class^="messagesWrapper-"] div[class*="Bar-"]:not([class^="newMessagesBar-"]) {
  bottom: 16px;
  padding: 0;
}
div[class^="attachedBars-"] {
  position: relative;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] {
  background-color: unset;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] button[class^="attachButton-"],
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="textArea-"],
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="buttons-"] {
  background-color: var(--background-secondary);
  border-radius: 24px !important;
  margin: 0;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] > div[class^="inner-"] {
  padding: 0;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] button[class^="attachButton-"] {
  padding: 8px;
  width: auto;
  height: auto;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="textArea-"] {
  margin-left: 8px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="textArea-"] > * {
  left: 12px;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="buttons-"] {
  height: auto;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
div[class^="channelTextArea-"] > div[class^="scrollableContainer-"] div[class^="buttons-"] > * {
  align-items: center;
}
[class^="sidebar-"],
[class^="sidebar-"] > nav {
  background-color: transparent;
}
[class^="sidebar-"] > nav,
[class^="sidebar-"] > nav div[class^="scroller-"] {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}
[class^="sidebar-"] > nav div[class^="scroller-"] {
  background-color: var(--background-secondary);
}
[class^="sidebar-"] nav[class^="private"]::before {
  content: "Discord";
  color: var(--header-primary);
  margin: 14px 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-display);
}
[class^="sidebar-"] section {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}
div[class^="base-"] > div[class^="content-"] > div[class^="container"],
div[class^="chat-"] {
  background-color: unset;
}
div[class^="base-"] > div[class^="content-"] > div[class^="container"] > div,
div[class^="chat-"] > div {
  background-color: var(--background-primary);
}
[class^="sidebar"] header,
[class^="chat"] > section,
[class^="container-"] > section {
  background-color: var(--background-tertiary) !important;
}
@keyframes glow {
  from {
    box-shadow: 0 0 2px 4px #fff;
  }
  to {
    box-shadow: 0 0 1px 2px #aaaaaa;
  }
}
[class^="item-"][class*="focused-"] {
  background-color: unset;
  animation: glow 0.7s linear infinite alternate;
}
/** DisKort
 * (c) Er2 2022 <er2@dismail.de>
 * Zlib License
 */
div[class^="standardSidebarView-"] {
  flex-direction: column;
}
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] {
  overflow: hidden;
  flex-basis: unset;
  flex-grow: 0;
}
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] div[class^="header-"],
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] div[class^="separator-"] {
  display: none;
}
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] > div {
  background: var(--background-primary);
  scrollbar-width: thin;
  overflow: auto hidden !important;
  justify-content: left;
  max-width: 100%;
}
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] > div > nav {
  padding: 0;
  width: unset;
  background: var(--background-secondary);
}
div[class^="standardSidebarView-"] div[class^="sidebarRegion-"] > div > nav > div {
  padding-left: 16px;
  flex-direction: row;
  height: 40px;
}
div[class^="standardSidebarView-"] div[class^="contentRegion-"] {
  overflow-y: auto;
  scrollbar-width: thin;
}
div[class^="standardSidebarView-"] div[class^="contentRegion-"] * {
  max-width: 100%;
}
div[aria-controls*="nitro"],
div[aria-controls="library-inventory-tab"],
div[aria-controls="subscriptions-tab"],
div[aria-controls="billing-tab"],
div[aria-controls="keybinds-tab"],
div[aria-controls="game-activity-tab"],
div[aria-controls^="hypesquad"] {
  display: none;
}
#profile-customization-tab div[class^="children"] div[class^="baseLayout-"] > div:not([class]) {
  width: 100%;
}
#profile-customization-tab div[class^="children"] div[class^="baseLayout-"] > div:not([class]) div[class^="customizationSection-"]:nth-child(2),
#profile-customization-tab div[class^="children"] div[class^="baseLayout-"] > div:not([class]) div[class^="customizationSection-"]:nth-child(3) {
  display: none;
}
#profile-customization-tab div[class^="children"] div[class^="baseLayout-"] div[class^="bioTextArea-"] {
  height: 25vh;
}
[class^="optionBox-"]:nth-child(2) {
  display: none;
}
#connections-tab div[class^="children-"] {
  flex-direction: row;
}
#connections-tab div[class^="children-"] div[class^="accountList-"] {
  margin-right: 8px;
  height: 100%;
}
#connections-tab div[class^="children-"] div[class^="connectionList-"] {
  width: 100%;
}
#appearance-tab div[class^="children-"] {
  flex-flow: row wrap;
  column-gap: 16px;
}
#appearance-tab div[class^="children-"] > div:first-child {
  width: 100%;
}
#appearance-tab div[class^="children-"] div[class^="marginTop8-"],
#appearance-tab div[class^="children-"] div[class^="marginTop20-"] {
  width: calc(50% - 8px);
}
#appearance-tab div[class^="children-"] div[class^="marginTop8-"] div[class^="divider-"],
#appearance-tab div[class^="children-"] div[class^="marginTop20-"] div[class^="divider-"] {
  display: none;
}
#appearance-tab div[class^="children-"] div[class^="marginTop20-"] > div[class^="slider-"] {
  margin-top: 28px;
}
#accessibility-tab div div[class^="children-"] > div:nth-child(2),
#accessibility-tab div div[class^="children-"] > div:nth-child(3),
#accessibility-tab div div[class^="children-"] > div:nth-child(6),
#accessibility-tab div div[class^="children-"] > div:nth-child(7) {
  display: none;
}
#accessibility-tab div div[class^="children-"] > div:nth-child(4) {
  margin-top: 16px;
}
#notifications-tab div[class^="children"] div:nth-child(6) {
  display: none;
}
div[class^="accountProfileCard-"] div[class^="field-"]:nth-child(1) {
  height: 0;
}
div[class^="accountProfileCard-"] div[class^="field-"]:nth-child(1) div[class^="constrainedRow-"] {
  display: none;
}
div[class^="accountProfileCard-"] div[class^="field-"]:nth-child(1) button {
  top: -48pt;
  left: 360pt;
}
