name: Build

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    # I prefer alpine, but there is only ubuntu
    runs-on: ubuntu-latest
    
    steps:
      - name: Getting repository
        run: |
          git clone "https://gitdab.com/er2/diskort"
          git clone "https://github.com/Er2ch/diskort" gh

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Install less
        run: npm install less
      
      - name: Compiling
        run: npx lessc diskort/btfl.less > gh/btfl.css
      
      - name: Setup git
        run: |
          cd gh
          git config user.name "Bot"
          git config user.email "<>"
      
      - name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd gh
          git add btfl.css
          git commit -m "remade"
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git" main

