name: Close PRs

on:
  pull_request_target:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: superbrothers/close-pull-request@v3
        with:
          comment: |
            Thanks for your contribution!
            This repository does not accepts any PRs, it's CSS builds.
            If you want to contribute, please go to [GitDab](https://gitdab.com/er2/diskort).

